[submodule "sample-repo-l2"]
	path = sample-repo-l2
	url = https://github.com/rynkowsg/rynkowsg-orb-sample-repo-l2.git
	branch = master
[submodule "sample-repo-l2-lfs"]
	path = sample-repo-l2-lfs
	url = https://github.com/rynkowsg/rynkowsg-orb-sample-repo-l2.git
	branch = master-lfs
